PORT=10000
DATABASE_URL=postgresql://neondb_owner:npg_EgG6kPFuL0nS@ep-dark-dawn-a49da54h.us-east-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=9f3Kx!7Lq2Zp@NMD_secure_2026_backend_auth_5vT8r#XyQ1Lm
FRONTEND_URL=https://nmd-frontend.onrender.com
